/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
}

.main-container{
    width: 70%;
    margin: 0 auto;
    max-width: 1170px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* header */

header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header li{
    display: inline-block;
    padding: 0 20px;
}

header li a{
    color: black;
    font-size: small;
    text-decoration: none;
}

.color-dropbox{
    color: rgb(0, 96, 255);
    font-size: 20px;
}

.title{
    font-weight: 600;
    font-size: 20px;
}

.button{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 96, 255);
    padding: 5px 20px;
}

/* jumbo */

.jumbotron{
    height: 960px;
    background-color: #b4d0e7;
    padding-top: 150px;
    position: relative;
}

.jumbo-cont{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 85px;
    margin-bottom: 40px;
}

.jumbo-txt{
    width: 25%;
}

.jumbo-img{
    width: 75%;
}

.jumbo-txt p{
    margin-bottom: 30px;
}

.jumbo-txt h5{
    margin-top: 15px;
    margin-bottom: 30px;
}

.arrow{
    font-size: 45px;
}

.jumbotron img{
    width: 100%
}

/* debug */

/* .debug header{
    background-color: aqua;
} */

/* .debug .jumbotron{
    height: 800px;
    background-color: cornflowerblue;
} */

.debug .main-container{
    height: 1000px;
    background-color: chartreuse;
}

/* .debug .container{
    height: 400px;
    background-color: darkmagenta;
} */

.debug footer{
    height: 200px;
    background-color: coral;
}